APP_NAME=f
# run `npx @fastify/secure-session | base64` to generate a key
APP_KEYS=key1,key2
APP_ENV=development
APP_PORT=5000
APP_DEBUG=false

FRONTEND_DOMAIN=
FRONTEND_URL=https://${FRONTEND_DOMAIN}

# SMTP configuration options for the email service
# For testing, you can use a fake SMTP service like Ethereal: https://ethereal.email/create
SMTP_HOST=
SMTP_PORT=
# set this value to true if you are connecting to port 465. For port 587 or 25 keep it false.
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
SMTP_FROM_NAME="${APP_NAME}"
SMTP_FROM_EMAIL=

# see https://github.com/lukeed/ms#usage
EXP_ACCESS=15m
EXP_REFRESH=30d
EXP_VERIFY_EMAIL=5m
EXP_RESET_PASSWORD=5m

TRUST_PROXY=false

DB_CONN=postgresql
DB_HOST=localhost
DB_PORT=5432
DB_USER=
DB_PASS=
DB_NAME=

DATABASE_URL=${DB_CONN}://${DB_USER}:${DB_PASS}@${DB_HOST}:${DB_PORT}/${DB_NAME}
